<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>the blum website</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel='stylesheet' type="text/css" href="static/style.css">
</head>
<body>
    HELLO, welcome to {{ name.upper() }}'s first server!<br><br>
    You are {{ post_id }} years old!!!! Happy Birthday!!!!! <br><br>
    GOOD MORNING {{ name.upper() }} ! HOW ARE YOU??????????????<br><br>
    Look, BLUM is here too! Glad to see you<br>
    <script src='static/script.js'></script>
</body>
</html>